<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="www.khj08.com.dateplan">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/><!--2018.04.17 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--<uses-feature android:name="android.hardware.camera2"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ing_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ing_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="www.khj08.com.dateplan.fileprovider"
            android:exported="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name=".ui.Main3ThreadActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.DatePickerActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name01" />

        <activity android:name=".ui.IntroActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name01" />

        <activity
            android:name=".ui.setActivity"
            android:label="@string/app_name06" />
        <activity
            android:name=".ui.D_Day_Activity"
            android:label="@string/app_name04" />
        <activity
            android:name=".ui.DateListView"
            android:label="@string/app_name02" />

        <service
            android:name=".ui.MyNotificationService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".ui.NewAppWidget$UpdateClass"></service>

        <activity
            android:name=".ui.CalcResult"
            android:label="@string/app_name05" />
        <activity
            android:name=".ui.LoadDatePickerActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name03" />

        <receiver android:name=".ui.NewAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <receiver
            android:name=".ui.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>